{% extends 'base.html' %}

{% block title %}
    Budget | ByteTracker
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/budget.css')}}">
{% endblock %}

{% block content %}
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="defineBudgetOffcanvas" aria-labelledby="defineBudgetOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">DEFINE BUDGET</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="background-color: #fff;"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post">
                <input type="hidden" name="defineBudget">
                <input type="text" name="budgetCategory" id="budgetCategory" placeholder="Budget Category" class="form-control" style="margin-top: 1.5%;">
                <input type="number" name="budgetAmount" id="budgetAmount" placeholder="Budget Amount" class="form-control" style="margin-top: 1.5%;">
                <br>
                <button type="submit" class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i> Define Budget</button>
            </form>
        </div>
    </div>

    <div class="budget-category-section">
        <h2>Budgets by Category</h2>
        <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#defineBudgetOffcanvas"><i class="fa-regular fa-pen-to-square"></i> Define Budget</button>

        <div class="all-budget-container">
            {% for budget in budgets %}
                <div class="budget-container" style="border: 1px solid {{budget.color}};">
                    <div class="header" style="background-color: {{budget.color}};">
                        <h4>{{budget.category}}</h4>
                    </div>

                    <h3>Expenditure: <i class="fa-solid fa-indian-rupee-sign"></i> {{budget.expense_amount}}</h3>
                    <h3>Budget: <i class="fa-solid fa-indian-rupee-sign"></i> {{budget.budget_amount}}</h3>

                    <div class="footer" style="background-color: {{budget.color}};">
                        <h2>Difference: <i class="fa-solid fa-indian-rupee-sign"></i>{{budget.difference}}</h2>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr style="border: 2px solid #fff;">

        <div class="budget-graph-container">
            <h3>Budget Against Expense</h3>
            <canvas id="budget-against-expense"></canvas>    
        </div>

        <hr style="border: 2px solid #fff;">

        <div class="summary-table">
            <h2>Budget Report</h2>
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <td>Category</td>
                    <td>Expenditure</td>
                    <td>Budget</td>
                    <td>Difference</td>
                </thead>
                {% for budget in budgets %}
                    <tr>
                        <td>{{budget.category}}</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {{budget.expense_amount}}</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {{budget.budget_amount}}</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {{budget.difference}}</td>
                    </tr>
                {% endfor %}
                <tfoot>
                    <td><h3>TOTAL</h3></td>
                    <td><h3><i class="fa-solid fa-indian-rupee-sign"></i> {{total_expense}}</h3></td>
                    <td><h3><i class="fa-solid fa-indian-rupee-sign"></i> {{total_budget}}</h3></td>
                    <td><h3><i class="fa-solid fa-indian-rupee-sign"></i> {{total_difference}}</h3></td>
                </tfoot>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('budget-against-expense').getContext('2d');

        const data = {
            labels: {{ labels | safe }},
            datasets: [
                {
                    label: 'Budget',
                    data: {{budget_values | safe}},
                    borderColor: '#ff1000',
                    borderWidth: 2,
                    // fill: true,
                },
                {
                    label: 'Expenses',
                    data: {{expense_values | safe}},
                    borderColor: '#008000',
                    borderWidth: 2,
                    // fill: true,
                },
            ],
        };

        const options = {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    enabled: true,
                },
            },
            scales: {
                x: {
                    beginAtZero: true,
                    grid: {
                        color: "rgb(50, 50, 50)",
                    },
                },
                y: {
                    beginAtZero: true,
                    grid: {
                        color: "rgb(50, 50, 50)",
                    },
                },
            },
        };

        const budgetAgainstExpenseChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options,
        });
    </script>
{% endblock %}