{% extends 'base.html' %}

{% block title %}
    Expenses Table | Expense Tracker
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/expenses-table.css')}}">
{% endblock %}

{% block content %}
    <!-- create expense offcanvas -->
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="addExpenseOffcanvas" aria-labelledby="addExpenseOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">ADD EXPENSE</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="background-color: #fff;"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post">
                <input type="hidden" name="addExpense">
                <input type="text" name="expenseName" placeholder="Expense Name" class="form-control">
                <input type="text" name="expenseCategory" placeholder="Expense Category" class="form-control">
                <input type="number" name="expenseAmount" placeholder="Expense Amount" class="form-control">
                <input type="color" name="expenseColor" class="form-control form-control-color">
                <br>
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add Expense</button>
            </form>
        </div>
    </div>

    <div class="row expenses-row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 expense-table">
            <h2>Recent Expenses</h2>
            <div class="btn-group gap-1">
                <button class="btn btn-success"data-bs-toggle="offcanvas" data-bs-target="#addExpenseOffcanvas"><i class="fa-solid fa-plus"></i> Add Expense</button>
                <a class="btn btn-success" href="{{url_for('expenses')}}"><i class="fa-solid fa-list"></i> View as List</a>
            </div>
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <td>Expense</td>
                    <td>Category</td>
                    <td>Expenditure</td>
                    <td>Time</td>
                    <td>Date</td>
                    <td style="color: #ff1000; text-align: center;"><i class="fa-solid fa-trash-can"></i></td>
                </thead>
                {% for expense in expenses %}
                    <tr>
                        <td>{{expense.name}}</td>
                        <td>{{expense.category}}</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {{expense.amount}}</td>
                        <td>{{expense.time}}</td>
                        <td>{{expense.date}}</td>
                        <td style="text-align: center;">
                            <form method="post">
                                <input type="hidden" name="deleteExpenseID" value="{{expense.id}}">
                                <button type="submit" class="btn btn-outline-danger"><i class="fa-regular fa-trash-can"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2>Analysis</h2>
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <td>Category</td>
                    <td>Total Expenditure</td>
                </thead>
                {% for category in categories %}
                    <tr>
                        <td>{{category.category}}</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {{category.amount}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}