{% extends 'base.html' %}

{% block title %}
    Expenses | Expense Tracker
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/expenses.css')}}">
{% endblock %}

{% block content %}
    <!-- create expense offcanvas -->
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="addExpenseOffcanvas" aria-labelledby="addExpenseOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">ADD EXPENSE</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="background-color: #fff;"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post">
                <input type="hidden" name="addExpense">
                <input type="text" name="expenseName" placeholder="Expense Name" class="form-control">
                <input type="text" name="expenseCategory" placeholder="Expense Category" class="form-control">
                <input type="number" name="expenseAmount" placeholder="Expense Amount" class="form-control">
                <input type="color" name="expenseColor" class="form-control form-control-color">
                <br>
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add Expense</button>
            </form>
        </div>
    </div>

    <div class="row expenses-row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 recent-expenses">
            <h2>Recent Expenses</h2>

            <div class="btn-group gap-1" style="margin-bottom: 1%;">
                <button class="btn btn-success" data-bs-toggle="offcanvas" data-bs-target="#addExpenseOffcanvas"><i class="fa-solid fa-plus"></i> Add Expense</button>
                <a href="{{url_for('expenses_table')}}" class="btn btn-success"><i class="fa-solid fa-table"></i> View as Table</a>
            </div>            
            
            {% for expense in expenses %}
                <div class="expense-container">
                    <small>{{expense.time}} <div class="vr"></div> {{expense.date}}</small>
                    <h3>{{expense.name}}</h3>
                    <h3><i class="fa-solid fa-indian-rupee-sign"></i> {{expense.amount}} <div class="vr"></div> <i class="fa-solid fa-square" style="color: {{expense.color}};"></i> {{expense.category}}</h3>
                    <small>
                        <form method="post">
                            <input type="hidden" name="deleteExpenseID">
                            <button type="submit" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i> Delete Expense</button>
                        </form>
                    </small>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <h2>Analysis</h2>
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <td>Category</td>
                    <td>Total Expenditure</td>
                </thead>
                {% for category in categories %}
                    <tr>
                        <td>{{category.category}}</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {{category.amount}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}