{% extends 'auth_layout.html' %}

{% block title %}
    ByteTracker | Login
{% endblock %}

{% block content %}
    <form method="post">
        <h1>Login</h1>
        <input type="hidden" name="loginForm">
        <div class="input-group">
            <div class="input-group-text"><i class="fa-solid fa-user"></i></div>
            <input name="username" type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
        </div>
        <div class="input-group">
            <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
            <input name="pwd" type="password" class="form-control" id="autoSizingInputGroup" placeholder="Password">
        </div>
        <a href="{{url_for('register')}}" class="btn btn-dark btn-sm" style="width: 100%; border: 2px solid rgb(50, 50, 50);">Or Register</a>
        <button type="submit" class="btn btn-primary" style="width: 100%;">Enter</button>
    </form>
{% endblock %}