.expenses-row {
    font-family: "Work Sans", sans-serif;
    padding: 1%;
}

.expense-container {
    margin-top: 1%;
    background-color: rgb(27, 27, 27);
    padding: 1% 1% 1.5% 2%;
    border-radius: 10px;
    transition: 0.3s;
}

.expense-container:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.3s;
}

.expense-container hr {
    margin-top: 0;
    margin-bottom: 1%;
}

#addExpenseOffcanvas input, #addExpenseOffcanvas button {
    margin-top: 2%;
}