body {
    font-family: "Work Sans", sans-serif;
}

.expenses-row {
    padding: 1%;
}

table {
    margin-top: 1.5%;
}

.expense-box {
    margin-top: 1%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
    padding: 1%;
    padding-left: 2%;
    border-radius: 10px;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
}

.expense-box:hover {
    transform: scale(1.01);
    transition: 0.3s;
}

#addExpenseOffcanvas input {
    margin-top: 1%;
}

.canvas-div-whole {
    text-align: center;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    padding: 2% 0;
    text-align: center;    
}

.canvas-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-div canvas {
    width: 90%;
}

@media (max-width: 350px) {
    div.expense-table, div.category-table {
        width: 100%;
        overflow-x: scroll;
    }

    .row {
        margin-left: auto;
        margin-right: auto;
    }
}